<div class="container">
  <div id="menu" class="z-depth-4">


    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Idea machine</a>
        <ul class="left hide-on-med-and-down">
          <li class="center"><a href="sass.html">JAR it!</a></li>
          <li class="center"><a href="badges.html">Last 10</a></li>
          <li class="center active"><a href="collapsible.html">Randomize!</a></li>
        </ul>
      </div>
    </nav>

  </div>


  <div class="col s12 m7 z-depth-4">
    <h2 class="header">New Idea 3</h2>
    <div class="card small horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Here will be something. Very soon )</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m7 z-depth-4">
    <h2 class="header">New Idea 2</h2>
    <div class="card small horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/100/190/nature/3">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Here will be something. Very soon )</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m7 z-depth-4">
    <h2 class="header">New Idea 1</h2>
    <div class="card small horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/100/190/nature/5">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Here will be something. Very soon )</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>